<% @page_title = @article.title %>
<article class="article">
<h1><%= @article.title %></h1>
<p><%= @article.content %>
<%= @article.body %></p>
<%= render "article_footer", article: @article%>
</article>