<div id="header_image">
<%= link_to "<h1>My_Page</h1>".html_safe, :root %>
</div>
<nav id="menubar">
	<ul>
	<a href="#"><li>MENU1</li></a>
	<a href="#"><li>MENU2</li></a>
	<a href="#"><li>MENU3</li></a>
	</ul>
</nav>