<nav id="userbar">
	<ul id="left_menu">
		<li><%= link_to "ブログへ", :root %></li>
		<li><%= link_to "管理画面", :admin %></li>
	</ul>
	<ul id="right_menu">
		<li>こんにちは<%= current_user.nick_name %>さん </li>
		<li><%= link_to "ログアウト", :logout,  method: :delete %></li>
	</ul>
</nav>
