// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles {
	table { 
		width: 100%;
		table-layout: fixed;
	}
}

.article{
	width: 95%;
	padding-left: 15px;

	p {
		word-wrap: break-word;
	}
}

.article_title{
	font-size: 24px;
	font-weight: lighter;
	margin: 5px 0;
	border-bottom: 1px dashed #000;
	width: 90%;

	a:link{ text-decoration: none; color: #000;}
	a:visited{ text-decoration: none; color: #000;}
}


table#article_edit_form{
	width: 600px;
	input{
		width: 100%;
		margin: 0;
		margin-bottom: 5px;
		padding: 2px 0 2px 2px;
	}
	textarea{
		width: 100%;
		margin: 0;
		padding: 2px 2px 2px 2px;
	}
	.article_body{height: 300px;}
	.article_content{height: 150px;}
}

div#preview_field{
	width: 600px;
	word-break: break-word;
	margin: 5px;
}