$content_width: 900px;
$main_content_width: 690px;
$sidebar_width: 190px;

html, body{
	margin: 0 auto;
	padding: 0;
	height: 100%;
}

html { overflow: auto; }
body { min-height: 100% }

div#header{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #DDD;
	#background-image: url("/assets/headersnake.jpg");
	#background-repeat: no-repeat;
	#background-position: center;

	h1 {
		margin: 0;
		padding: 10px;
	}
	a:link { text-decoration: none; color: #000; }
	a:visited { text-decoration: none; color: #000; }

	div#header_wrapper{
		width: $content_width;
		margin: 0 auto;
	}

	div#header_image{
		min-height: 150px;
	}
}

div#manage_header{
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #DDD;

	h1 {
		margin: 0;
		padding: 10px;
	}
	a:link { text-decoration: none; color: #000; }
	a:visited { text-decoration: none; color: #000; }

	div#header_wrapper{
		width: $content_width;
		margin: 0 auto;
	}

	div#header_image{
		min-height: 150px;
	}
}


nav#userbar{
	background-color: #000;
	margin: 0 -5000px 0 -5000px;
	padding: 0 5000px 0 5000px;
	
	height: 25px;
	color: #FFF;
	a:link { text-decoration: none; color: #FFF; }
	a:visited { text-decoration: none; color: #FFF; }

	ul#right_menu{
		margin: 0;
		padding: 0;
		margin-left: auto;
		min-width: 300px;
		list-style: none;

		li {
			float: right;
			padding: 0 10px;
		}
	}

	ul#left_menu{
		margin: 0;
		padding: 0;
		margin-right: auto;
		width: 200px;
		list-style: none;

		li {
			float: left;
			padding: 0 10px;
		}
	}
}


div#wrapper{
	width: $content_width;
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 10px;

	overflow: hidden;
}

div#footer{
	bottom: 0;
	clear: both;
	width: 100%;
	height: 100px;
	background-color: #000;
	color: #FFF;
	padding-top: 5px;

	a:link { text-decoration: none; color: #FFF }
	a:visited { text-decoration: none; color: #FFF }

	div#footer_wrapper{
		width: $content_width;
		margin: 0 auto;
	}

	div#footer_page_title{
		text-align: center;
		margin: 20px 0;
	}

}

div#content{
	width: $main_content_width;
	float: left;
	margin-bottom: -10000px;
	padding-bottom: 10000px;
}



div#sidebar{
	width: $sidebar_width;
	float: right;
	padding-left: 8px;
	margin-bottom: -10000px;
	padding-bottom: 10000px;
	border-left: dashed 2px #000;

	dl{
		dt{
			font-size: 18px;
		}
		dd{
			margin: 0;
			padding-left: 15px;
		}
	}

	div#profile{
		min-height: 250px;
		width: 100%;
		margin: 0;
		
		h3 {margin: 0;}
		.profile_img {
			height: 120px;
			width: 120px;
			margin-left: 10px;
			display: block;
		}

		h4 { 
			margin: 5px 0 2px 5px;
			padding-left: 5px;
		}
		
		.profile_body{
			margin: 0 0 0 5px;
			padding-left: 10px;
		}
	}

	.sidebar_content_title {
		padding-left: 5px;
		background-color: #CCC;
		font-weight: normal;
	}
}



nav#menubar{
	bottom: 0;	
	margin: 0 -5000px 0 -5000px;
	padding: 0 5000px 0 5000px;
	background-color: #000;

	ul{
		padding: 0;
		list-style: none;
		height: 50px;
		color: #FFF;
	}

	li{
		height: 100%;
		list-style: none;
		float: left;
		padding: 0 20px;
		line-height: 50px;
		font-size: 22px; 
	}
	li:hover{background-color: #CCC;color: #000;}

	a:link{ color: #FFF; }
	a:visited{ color: #FFF; }
}


.pagination{
	text-align: center;
}