<% @page_title = "カテゴリ一覧" %>

<h1><%= @page_title %></h1>

<div>
<% @categories.each do |category| %>
	<%= link_to category.name, category %><br>
<% end %>
</div>
<%= link_to "新規作成", new_category_path %>